In [7]:
import logging

logging.basicConfig(
    filename="log.txt",
    filemode="a",
    format="%(asctime)s,%(msecs)d %(name)s %(levelname)s %(message)s",
    datefmt="%H:%M:%S",
    level=logging.DEBUG,
)

In [13]:
from eleven.scraper import Scraper

In [14]:
s = Scraper()

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/tgdn/.wdm/drivers/chromedriver/mac64/98.0.4758.80/chromedriver] found in cache

In [24]:
soup = s.get('https://www.airlinequality.com/seat-reviews/alitalia/?sortby=post_date%3ADesc&pagesize=100')

In [29]:
int(soup.find(itemprop="reviewCount").get_text().strip())

'25'

In [25]:
soup.body.findAll(text='<<')

[]

In [ ]:
sop

In [16]:
article = soup.find_all('article', itemprop="review")[93]

In [43]:
rating = article.find(itemprop="reviewRating")
review_rating = float(rating.find(itemprop="ratingValue").next) / float(rating.find(itemprop="bestRating").next)

In [44]:
review_title = article.find(class_='text_header').next

In [9]:
author = article.find(itemprop="author")
review_author_review_count = int(author.find(class_="userStatusReviewCount").next.split(' ')[0])

AttributeError: 'NoneType' object has no attribute 'next'

In [60]:
review_date = article.find(itemprop="datePublished")['content']

In [71]:
review_location = author.next_sibling.strip().replace('(', '').replace(')', '')

In [84]:
body = article.find(itemprop="reviewBody")
has_link = not not body.find_all('a')

#verification_status = 'unknown'
#if body.get_text()[:1] == '✅':
#    verification_status = 'verified'
#elif body.get_text()[:1] == '❎':
#    verification_status = 'unverified'

left, *right = body.get_text().split('|')
if has_link:
    review_body = ''.join(right).strip()
else:
    review_body = left
review_body

'The economy class on Qantas could only be described as cattle class. I had a window seat and had no access whatever to the aisle. I had to wait 12 hours of a 14 hour flight to use the toilet as the persons in the seats next to me were both asleep. I found the seat to be hard uncomfortable and seriously in need of further adjustment. When paying an honest fare you expect honest comfort not to be penned in like cattle and whoever designed the seats for Qantas seriously needs further education in ergonomics.'

'The A380 has an extremely private and comfortable First Class seat. The cushioning, additional memory foam mattress for bed time and the size of the seat make travelling in First Class worth your while. The screen, lighting options, storage space, and inflight entertainment make this seat one of the best I have tried. The swivel and adjustment features if this seat are incredible.  In my short 8 hour flight I was able to try out the different massage options and my sore upper back was very grateful for that.'

In [21]:
#body.next.next.next.next.next.next.get_text()
body.next.next.next.next.next

<ul class="thumbnail_bar"><li class="thumbnail"><a alt="" href="https://www.airlinequality.com/wp-content/uploads/2014/08/2016-11-30-16.15.55-500x500.jpg"><img alt="" data-id="447488" src="https://www.airlinequality.com/wp-content/uploads/2014/08/2016-11-30-16.15.55-50x50.jpg"/></a></li><li class="thumbnail"><a alt="" href="https://www.airlinequality.com/wp-content/uploads/2014/08/2016-11-30-16.18.19-500x500.jpg"><img alt="" data-id="447489" src="https://www.airlinequality.com/wp-content/uploads/2014/08/2016-11-30-16.18.19-50x50.jpg"/></a></li><li class="thumbnail"><a alt="" href="https://www.airlinequality.com/wp-content/uploads/2014/08/2016-11-30-16.18.56-500x500.jpg"><img alt="" data-id="447490" src="https://www.airlinequality.com/wp-content/uploads/2014/08/2016-11-30-16.18.56-50x50.jpg"/></a></li><li class="thumbnail"><a alt="" href="https://www.airlinequality.com/wp-content/uploads/2014/08/2016-11-30-16.28.04-500x500.jpg"><img alt="" data-id="447491" src="https://www.airlinequality.com/wp-content/uploads/2014/08/2016-11-30-16.28.04-50x50.jpg"/></a></li></ul>

In [12]:
raw_body = body.next.next.next.next.next.next.get_text()
if not review_verified:
    raw_body = body.next.next.next.next.next
review_body = raw_body[4:].strip()

TypeError: unhashable type: 'slice'

In [18]:
tabl = article.find("table", class_="review-ratings")

In [19]:
for tr in tabl.find_all('tr'):
    left, right = tr.find_all('td')
    left, right = left.get_text(), right.get_text()
    print(f"{left}: {right}")

Seat Type: Economy Class
Aircraft Type: A320
Seat Layout: 3x3
Seat Legroom: 12345
Seat Recline: 12345
Seat Width: 12345
Aisle Space: 12345
Viewing Tv Screen: N/A
Recommended: no

In [22]:
tr = tabl.find_all('tr')[7]
left, right = tr.find_all('td')
right.get_text()

'N/A'

In [170]:
def extract_rating(td_soup):
    total = 0
    for span in td_soup.find_all('span'):
        if 'fill' not in span.get('class'):
            break
        total += 1.0
    return total / 5.0

for tr in tabl.find_all('tr'):
    left, right = tr.find_all('td')
    label = left.get_text()
    if 'review-rating-stars' in right.get('class'):
        value = extract_rating(right)
    elif 'rating-yes' in right.get('class'):
        value = True if right.get_text().strip().lower() == 'yes' else False
    else:
        value = right.get_text()
    
    print(f"{label}: {value}")

Seat Type: Economy Class
Aircraft Type: A330-200
Seat Layout: 2x4x2 / 2x3x2
Date Flown: October 2019
Type Of Traveller: Family Leisure
Seat Legroom: 0.2
Seat Recline: 0.2
Seat Width: 0.4
Aisle Space: 0.6
Viewing Tv Screen: 0.6
Power Supply: 0.2
Seat Storage: 0.2
Recommended: True

In [157]:
tabl.find_all('tr')[5].find_all('td')[1]

In [1]:
from eleven.scraper import Scraper
from eleven.skytrax import SkyTraxParser

In [2]:
scraper = Scraper()
st = SkyTraxParser(scraper)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/tgdn/.wdm/drivers/chromedriver/mac64/98.0.4758.80/chromedriver] found in cache

In [3]:
articles = st.scrape_airline('air-france')

In [4]:
len(articles)

108

# Scraping airlines

In [16]:
from eleven.scraper import Scraper
s = Scraper()
soup = s.get('https://skytraxratings.com/a-z-of-airline-ratings')

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/tgdn/.wdm/drivers/chromedriver/mac64/98.0.4758.80/chromedriver] found in cache

In [17]:
table = soup.find(id="tablepress-1")

In [18]:
def parse_slug(tr):
    name = tr.get_text().strip()
    slug = tr.find('a').get('href').split('/')[-2].replace('-rating', '')
    return name, slug

airlines = [parse_slug(tr) for tr in table.find_all('tr')]

In [19]:
airlines

[('9 Air', '9-air'),
 ('Aegean Airlines', 'aegean-airlines'),
 ('Aer Lingus', 'aer-lingus'),
 ('Aeroflot Russian Airlines', 'aeroflot-russian-airlines'),
 ('Aerolineas Argentinas', 'airlines'),
 ('Aeromexico', 'airlines'),
 ('Air Algerie', 'airlines'),
 ('Air Arabia', 'airlines'),
 ('Air Astana', 'air-astana'),
 ('Air Botswana', 'air-botswana'),
 ('Air Busan', 'air-busan'),
 ('Air Canada', 'air-canada'),
 ('Air Canada rouge', 'air-canada-rouge'),
 ('Air Caraibes', 'air-caraibes'),
 ('Air China', 'air-china'),
 ('Air Dolomiti', 'air-dolomiti'),
 ('Air Europa', 'air-europa'),
 ('Air France', 'air-france'),
 ('Air India', 'air-india'),
 ('Air India Express', 'air-india-express'),
 ('Air Macau', 'air-macau'),
 ('Air Madagascar', 'air-madagascar'),
 ('Air Malta', 'air-malta'),
 ('Air Mauritius', 'air-mauritius'),
 ('Air Moldova', 'air-moldova'),
 ('Air Namibia', 'air-namibia'),
 ('Air New Zealand', 'air-new-zealand'),
 ('Air Niugini', 'air-niugini'),
 ('Air Nostrum', 'air-nostrum'),
 ('Air Serbia', 'air-serbia'),
 ('Air Seychelles', 'air-seychelles'),
 ('Air Tahiti Nui', 'air-tahiti-nui'),
 ('Air Transat', 'air-transat'),
 ('Air Vanuatu', 'air-vanuatu'),
 ('AirAsia', 'airasia'),
 ('AirAsia X', 'airasia-x'),
 ('AirAsia India', 'airasia-india'),
 ('airBaltic', 'airbaltic'),
 ('airblue', 'airblue'),
 ('Aircalin', 'aircalin'),
 ('Alaska Airlines', 'alaska-airlines'),
 ('Alitalia', 'alitalia'),
 ('Allegiant Air', 'allegiant-air'),
 ('American Airlines', 'american-airlines'),
 ('ANA All Nippon Airways', 'ana-all-nippon-airways'),
 ('AnadoluJet', 'anadolujet'),
 ('Arik Air', 'arik-air'),
 ('Asiana Airlines', 'asiana-airlines'),
 ('Austrian Airlines', 'austrian-airlines'),
 ('Avianca', 'avianca'),
 ('Azerbaijan Airlines', 'azerbaijan-airlines'),
 ('Azul Brazilian Airlines', 'azul-linhas-aereas-brasileiras'),
 ('Bahamasair', 'bahamasair'),
 ('Bamboo Airways', 'bamboo-airways'),
 ('Bangkok Airways', 'bangkok-airways'),
 ('Batik Air', 'batik-air'),
 ('Belavia Belarusian Airlines', 'belavia-belarusian-airlines'),
 ('Biman Bangladesh Airlines', 'biman-bangladesh-airlines'),
 ('Blue Air', 'blue-air'),
 ('Boliviana de Aviación', 'boliviana-de-aviacion'),
 ('British Airways', 'british-airways'),
 ('Brussels Airlines', 'brussels-airlines'),
 ('Bulgaria Air', 'bulgaria-air'),
 ('Cabo Verde Airlines', 'cabo-verde-airlines'),
 ('Capital Airlines', 'capital-airlines'),
 ('Caribbean Airlines', 'caribbean-airlines'),
 ('Cathay Pacific Airways', 'cathay-pacific-airways'),
 ('Cayman Airways', 'cayman-airways'),
 ('Cebu Pacific', 'cebu-pacific'),
 ('Chengdu Airlines', 'chengdu-airlines'),
 ('China Airlines', 'china-airlines'),
 ('China Eastern Airlines', 'china-eastern-airlines'),
 ('China Express Airlines', 'china-express-airlines'),
 ('China Southern Airlines', 'china-southern-airlines'),
 ('China United Airlines', 'china-united-airlines'),
 ('Chongqing Airlines', 'chongqing-airlines'),
 ('Citilink', 'citilink'),
 ('Colorful Guizhou Airlines', 'colorful-guizhou-airlines'),
 ('Condor Airlines', 'condor-airlines'),
 ('Copa Airlines', 'copa-airlines'),
 ('Corendon Airlines', 'corendon-airlines'),
 ('Croatia Airlines', 'croatia-airlines'),
 ('CSA Czech Airlines', 'csa-czech-airlines'),
 ('Dalian Airlines', 'dalian-airlines'),
 ('Delta Air Lines', 'delta-air-lines'),
 ('Donghai Airlines', 'donghai-airlines'),
 ('Eastar Jet', 'eastar-jet'),
 ('Easyfly', 'easyfly'),
 ('easyJet', 'easyjet'),
 ('Edelweiss Air', 'edelweiss-air'),
 ('Egyptair', 'egyptair'),
 ('El Al Israel Airlines', 'el-al-israel-airlines'),
 ('Emirates', 'emirates'),
 ('Ethiopian Airlines', 'ethiopian-airlines'),
 ('Etihad Airways', 'etihad-airways'),
 ('Eurowings', 'eurowings'),
 ('EVA Air', 'eva-air'),
 ('fastjet', 'fastjet'),
 ('Fiji Airways', 'fiji-airways'),
 ('Finnair', 'finnair'),
 ('Flair Airlines', 'flair-airlines'),
 ('Flyadeal', 'flyadeal'),
 ('flydubai', 'flydubai'),
 ('flynas', 'flynas'),
 ('FlyOne', 'flyone'),
 ('FlySafair', 'flysafair'),
 ('French Bee', 'french-bee'),
 ('Frontier Airlines', 'frontier-airlines'),
 ('Fuzhou Airlines', 'fuzhou-airlines'),
 ('Garuda Indonesia', 'garuda-indonesia'),
 ('GoAir', 'goair'),
 ('GOL Airlines', 'gol-airlines'),
 ('Gulf Air', 'gulf-air'),
 ('GX Airlines (Beibu Gulf\xa0Air)', 'gx-airlines'),
 ('Hainan Airlines', 'hainan-airlines'),
 ('Hawaiian Airlines', 'hawaiian-airlines'),
 ('Hebei Airlines', 'hebei-airlines'),
 ('Hong Kong Airlines', 'hong-kong-airlines'),
 ('HK Express', 'hk-express'),
 ('Iberia', 'iberia'),
 ('Icelandair', 'icelandair'),
 ('IndiGo', 'indigo'),
 ('Interjet', 'interjet'),
 ('ITA Airways', 'ita-airways'),
 ('Jazeera Airways', 'jazeera-airways'),
 ('Jeju Air', 'jeju-air'),
 ('Jet2.com', 'jet2-com'),
 ('JetBlue Airways', 'jetblue-airways'),
 ('Jetstar Airways', 'jetstar-airways'),
 ('Jetstar Asia Airways', 'jetstar-asia-airways'),
 ('Jiangxi Airlines', 'jiangxi-air'),
 ('Jin Air', 'jin-air'),
 ('Juneyao Airlines', 'juneyao-airlines'),
 ('Kenya Airways', 'kenya-airways'),
 ('KLM Royal Dutch Airlines', 'klm-royal-dutch-airlines'),
 ('Korean Air', 'korean-air'),
 ('Kulula', 'kulula'),
 ('Kunming Airlines', 'kunming-airlines'),
 ('Kuwait Airways', 'kuwait-airways'),
 ('La Compagnie', 'la-compagnie'),
 ('LAM Mozambique Airlines', 'lam-mozambique-airlines'),
 ('Lao Airlines', 'lao-airlines'),
 ('LATAM Airlines', 'latam-airlines'),
 ('Lion Air', 'lion-air'),
 ('LOT Polish Airlines', 'lot-polish-airlines'),
 ('Loong Air', 'loong-air'),
 ('Lucky Air', 'lucky-air'),
 ('Lufthansa', 'lufthansa'),
 ('Luxair', 'luxair'),
 ('Malaysia Airlines', 'malaysia-airlines'),
 ('Malindo Air', 'malindo-air'),
 ('Mandarin Airlines', 'mandarin-airlines'),
 ('Mango', 'mango-airlines'),
 ('MIAT Mongolian Airlines', 'miat-mongolian-airlines'),
 ('Middle East Airlines', 'middle-east-airlines'),
 ('Myanmar Airways International', 'myanmar-airways-international'),
 ('Myanmar National Airlines', 'myanmar-national-airlines'),
 ('Nile Air', 'nile-air'),
 ('Nok Air', 'nok-air'),
 ('Norwegian', 'norwegian'),
 ('Nouvelair', 'nouvelair'),
 ('Okay Airways', 'okay-airways'),
 ('Oman Air', 'oman-air'),
 ('Onur Air', 'onur-air'),
 ('Peach Aviation', 'peach-aviation'),
 ('Pegasus Airlines', 'pegasus-airlines'),
 ('Philippine Airlines', 'philippine-airlines'),
 ('PIA Pakistan International Airlines',
  'pia-pakistan-international-airlines'),
 ('Porter Airlines', 'porter-airlines'),
 ('Qantas Airways', 'qantas'),
 ('Qatar Airways', 'qatar-airways'),
 ('Qingdao Airlines', 'qingdao-airlines'),
 ('Royal Air Maroc', 'royal-air-maroc'),
 ('Royal Brunei Airlines', 'royal-brunei-airlines'),
 ('Royal Jordanian Airlines', 'royal-jordanian-airlines'),
 ('Ruili Airlines', 'ruili-airlines'),
 ('Rwandair', 'rwandair'),
 ('Ryanair', 'ryanair'),
 ('S7 Siberia Airlines', 's7-siberia-airlines'),
 ('SAS Scandinavian Airlines', 'sas-scandinavian-airlines'),
 ('SATA Azores Airlines', 'sata-azores-airlines'),
 ('Saudi Arabian Airlines', 'saudi-arabian-airlines'),
 ('Shandong Airlines', 'shandong-airlines'),
 ('Shenzhen Airlines', 'shenzhen-airlines'),
 ('Sichuan Airlines', 'sichuan-airlines'),
 ('SilkAir', 'silkair'),
 ('Silver Airways', 'silver-airways'),
 ('Singapore Airlines', 'singapore-airlines'),
 ('SKY Airline', 'sky-airline'),
 ('Skymark Airlines', 'skymark-airlines'),
 ('Solaseed Air', 'solaseed-air'),
 ('South African Airways', 'south-african-airways'),
 ('Southwest Airlines', 'southwest-airlines'),
 ('SpiceJet', 'spicejet'),
 ('Spirit Airlines', 'spirit-airlines'),
 ('Spring Airlines', 'spring-airlines'),
 ('SriLankan Airlines', 'srilankan-airlines'),
 ('Sriwijaya Air', 'sriwijaya-air'),
 ('Star Flyer', 'star-flyer'),
 ('Sun Country Airlines', 'sun-country-airlines'),
 ('SunExpress', 'sunexpress'),
 ('Sunwing Airlines', 'sunwing-airlines'),
 ('Swiss International Air Lines', 'swiss-international-air-lines'),
 ('Swoop', 'swoop'),
 ('TAP Portugal', 'tap-air-portugal'),
 ('TAROM', 'tarom'),
 ('Thai Airways', 'thai-airways'),
 ('Tianjin Airlines', 'tianjin-airlines'),
 ('Transavia', 'transavia'),
 ('TUI Airways', 'tui-airways'),
 ('Tunisair', 'tunisair'),
 ('Turkish Airlines', 'turkish-airlines'),
 ("T'way Air", 'tway-air'),
 ('United Airlines', 'united-airlines'),
 ('Ural Airlines', 'ural-airlines'),
 ('Urumqi Air', 'urumqi-air'),
 ('VietJet Air', 'vietjet-air'),
 ('Vietnam Airlines', 'vietnam-airlines'),
 ('Virgin Atlantic', 'virgin-atlantic'),
 ('Virgin Australia', 'virgin-australia'),
 ('Vistara', 'vistara'),
 ('Viva Aerobus', 'viva-aerobus'),
 ('Viva Air', 'viva-air'),
 ('Volaris', 'volaris'),
 ('Volotea', 'volotea'),
 ('Vueling Airlines', 'vueling-airlines'),
 ('West Air', 'west-air'),
 ('WestJet Airlines', 'westjet-airlines'),
 ('Wizz Air', 'wizz-air'),
 ('Xiamen Airlines', 'xiamen-airlines')]

In [3]:
from eleven.skytrax import SkyTraxParser
from eleven.scraper import Scraper

In [4]:
s = Scraper()
st = SkyTraxParser(s)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/tgdn/.wdm/drivers/chromedriver/mac64/98.0.4758.80/chromedriver] found in cache

In [9]:
articles = st.scrape_airline('alitalia')

In [10]:
import pandas as pd

In [13]:
df = pd.DataFrame(articles)

In [14]:
df['airline'] = 'alitalia'

In [15]:
df

,author_review_count,rating,title,date,location,body,Seat Type,Aircraft Type,Seat Layout,Date Flown,...,Seat Privacy,Power Supply,Seat Storage,Recommended,Seat Legroom,Seat Recline,Seat Width,Aisle Space,Viewing Tv Screen,airline
0,0,0.7,"""Very comfortable flat seats""",2020-01-31,United Kingdom,"Very comfortable flat seats, and a great loung...",Business Class,Boeing 777,2x2x2,January 2020,...,0.6,1.0,0.6,True,NaN,NaN,NaN,NaN,NaN,alitalia
1,0,0.3,"""legroom is absolutely horrible""",2019-10-09,Netherlands,Palermo from Amsterdam via Milan in A319s. The...,Economy Class,A319,3x3,October 2019,...,NaN,NaN,0.4,no,0.2,0.2,0.6,0.4,NaN,alitalia
2,0,0.1,"""Worst legroom experienced""",2019-06-17,United Kingdom,Worst legroom ever experienced. Apparently the...,Economy Class,A319,3x3,June 2019,...,NaN,NaN,0.2,no,0.2,0.2,0.4,0.2,NaN,alitalia
3,0,0.1,"""Broken seats and headrests""",2019-01-11,Italy,Horrible airline. Old Boeing 777-200 ER aircra...,Economy Class,Boeing 777-200 ER,3x4x3,January 2019,...,NaN,NaN,0.2,no,0.4,0.2,0.4,0.2,0.2,alitalia
4,1,0.6,"""didn't have lots of legroom""",2018-11-18,Brazil,Seat 22L was ok. It didn't have lots of legroo...,Economy Class,A330,2x4x2,November 2018,...,NaN,1.0,0.6,no,0.4,0.6,0.6,0.6,0.8,alitalia
5,0,0.4,"""the seats were spacious""",2018-11-05,Brazil,"The Boeing 777-200 was not new, but the seats ...",Economy Class,Boeing 777-200,3x4x3,November 2018,...,NaN,NaN,0.6,no,0.8,0.6,0.6,0.6,0.2,alitalia
6,0,0.2,"""the worst legroom""",2018-04-30,Netherlands,My flight leg from Paris to Rome was the worst...,Economy Class,A320,3x3,April 2018,...,NaN,NaN,0.2,no,0.2,0.2,0.6,0.6,NaN,alitalia
7,0,0.1,"""Worst legroom experienced""",2018-04-13,Switzerland,Worst legroom I have experienced. I am average...,Economy Class,A320,3x3,April 2018,...,NaN,NaN,0.6,no,0.2,0.6,0.6,0.2,NaN,alitalia
8,0,1.0,"""I found the seat comfortable""",2018-01-28,Italy,Despite I'm tall I found the seat comfortable ...,Economy Class,A330,2x4x2,January 2018,...,NaN,NaN,1.0,True,0.8,1.0,1.0,1.0,1.0,alitalia
9,0,0.1,"""seats are very small""",2017-12-24,Denmark,"The Boeing 777 is very old, seats are very sma...",Economy Class,Boeing 777,3x4x3,December 2017,...,NaN,NaN,0.2,no,0.2,0.2,0.2,0.2,0.2,alitalia
10,0,0.1,"""smallest space I have seen""",2017-12-16,Belgium,There is no legroom at all for persons above 1...,Economy Class,A320,3x3,December 2017,...,NaN,NaN,0.8,no,0.2,0.6,0.6,0.8,NaN,alitalia
11,4,0.6,"""blocked for middle seat""",2017-09-16,Indonesia,It was Business Class but I'm not sure with th...,Premium Economy,A321,2x2,September 2017,...,NaN,NaN,0.6,True,0.6,0.6,0.6,0.6,NaN,alitalia
12,0,0.1,"""Cruel and unusual punishment""",2017-07-20,United States,Just when you thought legroom couldn't get any...,Economy Class,A319,3x3,July 2017,...,NaN,0.2,0.4,no,0.2,0.2,0.2,0.2,0.2,alitalia
13,0,0.1,"""has reduced the space""",2017-07-04,Italy,Alitalia has increased the number of seats and...,Economy Class,A321,3x3,March 2017,...,NaN,NaN,0.2,no,0.2,0.2,0.2,0.2,NaN,alitalia
14,0,0.6,"""seats comfortable enough""",2016-11-14,United States,"Seat width was fine, nothing great but nothing...",Economy Class,A330-200,2x4x2,August 2016,...,NaN,0.6,0.6,True,0.8,0.6,0.6,0.6,0.6,alitalia
15,0,0.2,"""seats extremely uncomfortable""",2016-09-12,Italy,All seats on this flight are extremely uncomfo...,Economy Class,Boeing 777-200,3x4x3,September 2016,...,NaN,NaN,0.8,no,0.2,0.2,0.2,0.2,0.2,alitalia
16,0,0.1,"""incredible discomfort of the headrest""",2016-08-22,United States,This is the only non stop between Los Angeles ...,Economy Class,Boeing 777-200,3x4x3,August 2016,...,NaN,NaN,0.6,no,0.4,0.4,0.4,0.2,NaN,alitalia
17,0,0.2,"""Very uncomfortable seat""",2016-07-17,Argentina,Very uncomfortable seat! Minimal reclining bac...,Premium Economy,Boeing 777,2x4x2,May 2016,...,NaN,0.2,0.2,no,0.2,0.2,0.2,0.2,0.6,alitalia
18,1,0.7,"""legroom is pretty poor""",2016-05-01,United Kingdom,The most notable setback is how outdated the B...,Economy Class,Boeing 777-200ER,3x4x3,January 2016,...,NaN,0.6,0.4,True,0.4,0.6,0.6,0.6,0.6,alitalia
19,0,0.5,"""uncomfortable very difficult resting""",2015-09-22,Argentina,Buenos Aires - Rome on Boeing 777 with Alitali...,Premium Economy,Boeing 777,2x4x2,November 2014,...,NaN,0.2,0.2,no,0.2,0.2,0.2,0.2,0.2,alitalia
20,0,0.4,"""seats were filthy stained""",2014-11-19,Canada,Toronto to Rome and back. Same Aircraft on bot...,Economy Class,AIRBUS A330,2x4x2,NaN,...,NaN,NaN,NaN,no,0.4,0.2,0.6,0.2,0.2,alitalia
21,0,0.2,"""very narrow seat""",2014-11-19,United States,Very narrow seat. every time a FA pass by you ...,Economy Class,BOEING 777-200,3x4x3,NaN,...,NaN,NaN,NaN,no,0.4,0.6,0.2,0.2,0.4,alitalia
22,0,0.4,"""very old seats""",2014-08-02,Brazil,"ORD-FCO. The flight is a ""seasonal"" flight and...",Economy Class,AIRBUS A330-200,2x4x2,NaN,...,NaN,NaN,NaN,True,0.8,0.4,0.4,0.2,0.2,alitalia
23,0,0.3,"""narrow seat""",2014-01-06,Brazil,Seat 20A. Narrow seat and has a big equipment ...,Economy Class,BOEING 777-200,3x4x3,NaN,...,NaN,NaN,NaN,no,0.4,0.6,0.4,0.6,0.8,alitalia
24,0,0.1,"""not enough leg room""",2009-03-03,Netherlands,Not enough leg room for somebody taller than 1...,Economy Class,B777,3x4x3,NaN,...,NaN,NaN,NaN,no,0.2,0.2,0.4,0.4,0.2,alitalia