In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("p_skytrax.csv")

In [4]:
df.head()

,Unnamed: 0,author_review_count,rating,title,date,location,body,Seat Type,Aircraft Type,Seat Layout,...,airline_slug,airline,Viewing Tv Screen,Power Supply,Sleep Comfort,Sitting Comfort,Seat/bed Width,Seat/bed Length,Seat Privacy,cleaned_body
0,0,0.0,0.3,"""seat was not comfortable""",2019-07-22,Malaysia,With their newer A320 aircraft leg room is awf...,Economy Class,A320,3x3,...,airasia,AirAsia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,newer aircraft leg room awful seat comfortable...
1,1,0.0,0.6,"""Check in was easy""",2019-04-06,Australia,Check in was easy and boarding I was in zone o...,Economy Class,A320,3x3,...,airasia,AirAsia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,check easy boarding zone think paid check kg l...
2,2,5.0,0.7,"""A solid experience""",2019-04-01,Australia,"A solid experience from start to finish, espec...",Economy Class,A320,3x3,...,airasia,AirAsia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,solid experience start finish especially given...
3,3,0.0,0.1,"""my 4yr old and I allocated different seats""",2018-01-14,Australia,I discovered upon boarding that my four-year-o...,Economy Class,A330-300,3x3x3,...,airasia,AirAsia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,discovered upon boarding four year old allocat...
4,4,1.0,0.7,"""space between was relatively good""",2017-08-24,Indonesia,"I got 14A seat, near emergency exit door. So t...",Economy Class,A320,3x3,...,airasia,AirAsia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,got seat near emergency exit different standar...

In [7]:
#create sparse matrix (documents, words)
from sklearn.feature_extraction.text import CountVectorizer

# Count Vectorizer
vect = CountVectorizer()  
vectors = vect.fit_transform(df.cleaned_body)

In [ ]:
# Parameters tuning using Grid Search
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.manifold import TSNE
grid_params = {'n_components' : list(range(2,8,2))}
# LDA model
lda = LatentDirichletAllocation()
lda_model = GridSearchCV(lda,param_grid=grid_params, verbose=3)
lda_model.fit(vectors)
# Estimators for LDA model
lda_model1 = lda_model.best_estimator_
print("Best LDA model's params" , lda_model.best_params_)
print("Best log likelihood Score for the LDA model",lda_model.best_score_)
print("LDA model Perplexity on train data", lda_model1.perplexity(document_term_matrix))

Fitting 5 folds for each of 3 candidates, totalling 15 fits
[CV 1/5] END .................................n_components=2; total time=  49.4s

[2, 4, 6]